<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>192703591015-5d98uiu9udanvq0q1f8a6104aai8clp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192703591015-5d98uiu9udanvq0q1f8a6104aai8clp3</string>
	<key>API_KEY</key>
	<string>AIzaSyC0qcJn_8csPAc4tvFT3fMNwyMAeiu-9EE</string>
	<key>GCM_SENDER_ID</key>
	<string>192703591015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lybby26</string>
	<key>PROJECT_ID</key>
	<string>login-example-b0776</string>
	<key>STORAGE_BUCKET</key>
	<string>login-example-b0776.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192703591015:ios:d41d5598fbe5903e</string>
	<key>DATABASE_URL</key>
	<string>https://login-example-b0776.firebaseio.com</string>
</dict>
</plist>